<%= form_with model: @memory, local:true do |f| %>
  <div class="form-group">
    <div div class="ml-auto boards__linkBox">
      <%= link_to '一覧', memories_path, class: 'btn btn-outline-dark' %>
    </div>
  </div>


  <div class ="form-group">
    <label>教材名</label>
    <%= f.text_field :text, class: "form-control", placeholder: "例: 〇〇単語帳" %>
  </div>

  <div class="form-group">
    <label>学習範囲</label>
    <%= f.text_field :range, class: "form-control", placeholder: "例: 40~56p" %>
  </div> 

  <div class="form-group">
    <label>勉強時間</label>
    <%= f.text_field :time, class: "form-control", placeholder: "例: 2h30m" %>
  </div> 



  <div class="text-center">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>