<h2>復習スケジュール一覧</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr class="index">
          <%# <td>日付</td>
          <td>教材</td>
          <td>学習範囲</td>
        <td>勉強時間</td> %>
        </tr>
      </thead>
      <tbody>
     
        
        <% Schedule.order(date: "ASC").joins(:memory).where(memory: { user_id: current_user.id }).each do |s| %>
            <tr>
              <td><%=  s.schedule %></td>
              <td><%= s.memory.text  %></td>
              <td><%= link_to s.memory.range, memory_path(s.memory) %></td>
              <td><%= s.memory.time %></td>
              <td>[ <%=  link_to '編集する', edit_memory_path(s.memory,s) %> ]</td> 
              <td>[ <%= link_to '完了する', memory_schedules_path(s.memory,s), method: :delete, data:{ confirm: '本当に完了していいですか？' }%> ]</td>
            </tr>   
          <% end %> 
    </tbody>
    </table>
  </div>
</div>

<script>
   $(function(){
     $("input[type=checkbox]").click(function(){
       $.post('/memory/' + $(this).data('id') + '/toggle');
     });
   });
</script>

<%= paginate @schedule %>