<%= form_with model: @memory, local:true do |f| %>
  <div class="form-group">
    <div div class="ml-auto boards__linkBox">
      <%= link_to '一覧', memories_path, class: 'btn btn-outline-dark' %>
    </div>
  </div>

  <div>
    <label>日付</label>
     <%= f.date_select :date, {}, class: 'form-date' %>
  </div>

  <div class ="form-group">
    <label>教材名</label>
    <%= f.text_field :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>学習範囲</label>
    <%= f.text_field :range, class: "form-control" %>
  </div> 

  <div class="form-group">
    <label>勉強時間</label>
    <%= f.text_field :time, class: "form-control" %>
  </div> 

  <div class="form-group">
    <label>復習スケジュール</label>
    <%= f.text_field :schedule, value: f.object.schedules.pluck(:schedule_form).join(','), class: "form-control"%>
  </div> 

  <div class="text-center">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>