<h2>復習スケジュール一覧</h2>
  <div class="ml-auto boards__linkBox">
    <%= link_to '復習スケジュールの登録', new_memory_path, class: 'btn btn-outline-dark' %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <td></td>
          <td>教材</td>
          <td>学習範囲</td>
        <td>勉強時間</td>
        </tr>
      </thead>
      <tbody>
        <% @memories.each do |memory| %>
        <tr>
         <td><%= check_box_tag :test1 %></td>
          <td><%= link_to memory.text, memory_path(memory) %></td>
          <td><%= memory.range %></td>
          <td><%= memory.time %></td>
          <td>[ <%= link_to '編集する', edit_memory_path(memory) %> ]</td> 
          <td>[ <%= link_to '削除する', memory_path(memory), method: :delete, data:{ confirm: '本当に消していいですか？' }%> ]</td>
       </tr>
       <% end %>
    </tbody>
    </table>
  </div>
</div>

<%= paginate @memories %>




