<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MEMORY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= header_link_item('ホーム', root_path) %>
      </li>
      <li class="nav-item">
        <%= header_link_item('復習スケジュール一覧', memories_path) %>
       </li>
        <div class="dropdown">
          <a class="nav-link dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ユーザー
              </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if @current_user %>
              <li><%= link_to 'マイページ', mypage_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %></li>
            <% else %>
              <li><%= link_to '登録', new_user_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'ログイン', root_path, class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </div>
      <li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>